@font-face {font-family: CamphorPro-Light; src: url(//i01.appmifile.com/webfile/globalimg/products/pc/mi-note-10/CamphorPro-Light.woff) format("woff");}

@font-face {font-family: CamphorPro-Regular; src: url(//i01.appmifile.com/webfile/globalimg/products/pc/mi-note-10/CamphorPro-Regular.woff) format("woff");}

@font-face {font-family: CamphorPro-Bold; font-weight: 700; src: url(//i01.appmifile.com/webfile/globalimg/products/pc/mi-note-10/CamphorPro-Bold.woff) format("woff");}

@font-face {font-family: CamphorPro-Thin; src: url(//i01.appmifile.com/webfile/globalimg/products/pc/mi-note-10/CamphorPro-Thin.woff) format("woff"), url(//i01.appmifile.com/webfile/globalimg/products/pc/mi-note-10/CamphorPro-Thin.svg#CamphorPro-Thin) format("svg");}

@font-face {font-family: Camphor-Heavy; font-weight: 900; src: url(//i01.appmifile.com/webfile/globalimg/products/pc/mi-note-10/CamphorPro-Heavy.woff) format("woff"), url(//i01.appmifile.com/webfile/globalimg/products/pc/mi-note-10/CamphorPro-Heavy.svg#CamphorPro-Heavy) format("svg");}

@font-face {font-family: CamphorPro-Medium; src: url(//i01.appmifile.com/webfile/globalimg/products/pc/mi-note-10/CamphorPro-Medium.woff) format("woff"), url(//i01.appmifile.com/webfile/globalimg/products/pc/mi-note-10/CamphorPro-Medium.svg#CamphorPro-Medium) format("svg");}

@font-face {font-family: ProximaNova; font-style: normal; font-weight: 400; src: url(//s01.appmifile.com/css/fonts/proximanova/proxima-nova-regular.woff?p=) format("woff");}

.f-heavy {font-family: Camphor-Heavy, sans-serif; font-weight: 900;}
.f-regular {font-family: CamphorPro-Regular, sans-serif;}
.f-light {font-family: CamphorPro-Light, sans-serif;}
.f-bold {font-family: CamphorPro-Bold, sans-serif; font-weight: 700;}
.f-medium {font-family: CamphorPro-Medium, sans-serif;}
.f-thin {font-family: CamphorPro-Thin, sans-serif;}
.f-nova {font-family: ProximaNova, sans-serif;}

.mi-watch-charging-dock-overview {
  background: #fff;
  width: 100%;
}
.mi-watch-charging-dock-overview .xm-price,
.mi-watch-charging-dock-overview .xm-text,
.mi-watch-charging-dock-overview .xm-visible {
  opacity: 0;
  transform: translateY(2vh);
}
.mi-watch-charging-dock-overview .is-visible .xm-price,
.mi-watch-charging-dock-overview .is-visible .xm-text,
.mi-watch-charging-dock-overview .is-visible .xm-visible {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s linear;
}
.mi-watch-charging-dock-overview .f12 {font-size: 0.046875rem;}
.mi-watch-charging-dock-overview .f14 {font-size: 0.054688rem;}
.mi-watch-charging-dock-overview .f16 {font-size: 0.0625rem;}
.mi-watch-charging-dock-overview .f18 {font-size: 0.070313rem;}
.mi-watch-charging-dock-overview .f20 {font-size: 0.078125rem;}
.mi-watch-charging-dock-overview .f22 {font-size: 0.085938rem;}
.mi-watch-charging-dock-overview .f24 {font-size: 0.09375rem;}
.mi-watch-charging-dock-overview .f26 {font-size: 0.101563rem;}
.mi-watch-charging-dock-overview .f28 {font-size: 0.109375rem;}
.mi-watch-charging-dock-overview .f30 {font-size: 0.117188rem;}
.mi-watch-charging-dock-overview .f32 {font-size: 0.125rem;}
.mi-watch-charging-dock-overview .f34 {font-size: 0.132813rem;}
.mi-watch-charging-dock-overview .f36 {font-size: 0.140625rem;}
.mi-watch-charging-dock-overview .f38 {font-size: 0.148438rem;}
.mi-watch-charging-dock-overview .f40 {font-size: 0.15625rem;}
.mi-watch-charging-dock-overview .f42 {font-size: 0.164063rem;}
.mi-watch-charging-dock-overview .f44 {font-size: 0.171875rem;}
.mi-watch-charging-dock-overview .f46 {
  font-size: 0.179688rem;
}
.mi-watch-charging-dock-overview .f48 {
  font-size: 0.1875rem;
}
.mi-watch-charging-dock-overview .f50 {
  font-size: 0.195313rem;
}
.mi-watch-charging-dock-overview .f52 {
  font-size: 0.203125rem;
}
.mi-watch-charging-dock-overview .f54 {
  font-size: 0.210938rem;
}
.mi-watch-charging-dock-overview .f56 {
  font-size: 0.21875rem;
}
.mi-watch-charging-dock-overview .f58 {
  font-size: 0.226563rem;
}
.mi-watch-charging-dock-overview .f60 {
  font-size: 0.234375rem;
}
.mi-watch-charging-dock-overview .f64 {
  font-size: 0.25rem;
}
.mi-watch-charging-dock-overview .f66 {
  font-size: 0.257813rem;
}
.mi-watch-charging-dock-overview .f68 {
  font-size: 0.265625rem;
}
.mi-watch-charging-dock-overview .f70 {
  font-size: 0.273438rem;
}
.mi-watch-charging-dock-overview .f72 {
  font-size: 0.28125rem;
}
.mi-watch-charging-dock-overview .f76 {
  font-size: 0.296875rem;
}
.mi-watch-charging-dock-overview .f78 {
  font-size: 0.304688rem;
}
.mi-watch-charging-dock-overview .f80 {
  font-size: 0.3125rem;
}
.mi-watch-charging-dock-overview .f82 {
  font-size: 0.320313rem;
}
.mi-watch-charging-dock-overview .f86 {
  font-size: 0.335938rem;
}
.mi-watch-charging-dock-overview .f88 {
  font-size: 0.34375rem;
}
.mi-watch-charging-dock-overview .f90 {
  font-size: 0.351563rem;
}
.mi-watch-charging-dock-overview .f98 {
  font-size: 0.382813rem;
}
.mi-watch-charging-dock-overview .f100 {
  font-size: 0.390625rem;
}
.mi-watch-charging-dock-overview .f106 {
  font-size: 0.414063rem;
}
.mi-watch-charging-dock-overview .f108 {
  font-size: 0.421875rem;
}
.mi-watch-charging-dock-overview .f110 {
  font-size: 0.429688rem;
}
.mi-watch-charging-dock-overview .f114 {
  font-size: 0.445313rem;
}
.mi-watch-charging-dock-overview .f116 {
  font-size: 0.453125rem;
}
.mi-watch-charging-dock-overview .f120 {
  font-size: 0.46875rem;
}
.mi-watch-charging-dock-overview .f128 {
  font-size: 0.5rem;
}
.mi-watch-charging-dock-overview .f130 {
  font-size: 0.507813rem;
}
.mi-watch-charging-dock-overview .f138 {
  font-size: 0.539063rem;
}
.mi-watch-charging-dock-overview .f140 {
  font-size: 0.546875rem;
}
.mi-watch-charging-dock-overview .f148 {
  font-size: 0.578125rem;
}
.mi-watch-charging-dock-overview .f150 {
  font-size: 0.585938rem;
}
.mi-watch-charging-dock-overview .f160 {
  font-size: 0.625rem;
}
.mi-watch-charging-dock-overview .f200 {
  font-size: 0.78125rem;
}
.mi-watch-charging-dock-overview .section {
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  color: #333;
  line-height: 1.2;
  margin-bottom: -1px;
  min-width: 4.789063rem;
  overflow: hidden;
  position: relative;
}
.hairlines .mi-watch-charging-dock-overview .section {
  margin-bottom: -0.5px;
}
.mi-watch-charging-dock-overview .section .f-heavy {
  font-weight: 700;
}
.mi-watch-charging-dock-overview .section01 {
  height: 4.375rem;
}
.mi-watch-charging-dock-overview .section01 .text-container {
  margin: 1.285156rem 0 0 1.488281rem;
  width: 4.90625rem;
}
.mi-watch-charging-dock-overview .section01 .f30,
.mi-watch-charging-dock-overview .section01 .f48 {
  margin-top: 0.195313rem;
}
.mi-watch-charging-dock-overview .section01 .price {
  margin-top: 0.585938rem;
}
.mi-watch-charging-dock-overview .section01 .xm-price__label {
  font-size: 0.171875rem;
}
.mi-watch-charging-dock-overview .section01 .xm-price__mNum,
.mi-watch-charging-dock-overview .section01 .xm-price__sNum {
  font-size: 0.234375rem;
}
.mi-watch-charging-dock-overview .section02 {
  height: 3.90625rem;
}
.mi-watch-charging-dock-overview .section02 .text-container {
  color: #333;
  margin: 1.261719rem 0 0 5.714844rem;
  width: 3.734375rem;
}
.mi-watch-charging-dock-overview .section02 .f30 {
  margin-top: 0.195313rem;
}
.mi-watch-charging-dock-overview .section03 {
  height: 3.90625rem;
}
.mi-watch-charging-dock-overview .section03 .text-container {
  color: #333;
  margin: 1.683594rem 0 0 1.492188rem;
  width: 4rem;
}
.mi-watch-charging-dock-overview .section03 .f30 {
  margin-top: 0.195313rem;
}
.mi-watch-charging-dock-overview .section04 {
  height: 3.90625rem;
}
.mi-watch-charging-dock-overview .section04 .text-container {
  color: #333;
  margin: 1.261719rem 0 0 5.710938rem;
  width: 3.125rem;
}
.mi-watch-charging-dock-overview .section04 .mt50 {
  margin-top: 0.195313rem;
}

.xm-text {
  display: inline-block;
  white-space: break-spaces;
}

main {
  display: inline-block;
  font-size: 16px;
}